// status light of hubs and devices
@mixin lcd {
    display: inline-block;
    height: $font-size-7;
    width: $font-size-7;
    border-radius: $font-size-7;
}
// hubs and devices
.accordion {
    & button.accordion {
        background-color: transparent;
        border-color: transparent;
        font-size: $font-size-2;
        &:hover,
        &:active,
        &:focus,
        &.btn-secondary:not(:disabled):not(.disabled):active {
            background-color: transparent !important;
            border-color: transparent !important;
            box-shadow: none !important;
            color: inherit !important;
        }
    }
    // name lables
    &.btn.accordion {
        font-weight: normal;
        // set bold
        &:hover,
        &:active,
        &:focus {
            font-weight: bold;
        }
        // set buttons shiny
        &:hover + .card-subtitle .plus,
        &:active + .card-subtitle .plus,
        &:focus + .card-subtitle .plus,
        &:hover + .card-subtitle .minus,
        &:active + .card-subtitle .minus,
        &:focus + .card-subtitle .minus,
        &:hover + .card-subtitle .up,
        &:active + .card-subtitle .up,
        &:focus + .card-subtitle .up,
        &:hover + .card-subtitle .down,
        &:active + .card-subtitle .down,
        &:focus + .card-subtitle .down,
        &:hover + .card-subtitle .plus.show,
        &:hover + .card-subtitle .plus.hidden {
            transition: none;
            opacity: 1;
        }
        // first unit / head
        & > h5 {
            cursor: pointer;
            font-family: Cuyabra;
            font-size: $font-size-2;
            // font-weight: bold;
            color: $color-8;
            margin-bottom: 0;
            &:hover,
            &:active {
                font-weight: bold;
            }
        }
    }
    // buttons plus, minus, up, down
    & .plus, .minus, .up, .down {
        opacity: .7;
    }
    & .up, .down {
        margin-right: .12rem;
    }
    & .card-subtitle {
        // change color of buttons plus & minus
        & > .plus {
            // hide button plus
            &.hidden {
              transition: none !important;
              visibility: hidden;
            }
            &:first-of-type {
                opacity: 1;
                margin-top: .12rem !important;
            }
        }
    }
    & .collapse > .card-header {
        & > .card-title {
            font-size: $font-size-2;
        }
        // set minus of collapse shiny
        & > .card-subtitle > .minus {
            opacity: 1;
            margin-left: .12rem;
        }
        // set left margin of collapse shiny
        & > .card-subtitle > .plus {
            opacity: 1;
            margin-right: .12rem;
        }
    }
    // delete card-header formatting
    & .card {
        color: inherit;
        & .card-header {
            @include killShadow;
            @include killBorder;
            background-color: rgba(0, 0, 0, 0);
            border-bottom: 0 solid rgba(0, 0, 0, 0);
            color: inherit;
        }
        // placeholder for button down
        & > .card-header .down {
            visibility: hidden;
            margin-right: $border;
        }
        // placeholder for button down and plus
        & > .card-body > .collapse > div > .card-body .card-header .down,
            & > .card-body > .collapse > div > div:last-child.card-body .card-header .plus {
            visibility: hidden;
            margin-right: $border;
        }
        // second unit (hubs)
        & > .card-body {
            @include killShadow;
            border: none !important;
            // third unit (devices)
            & .card-body .card-header {
                & .card-title {
                    font-size: $font-size-3 !important;
                    & > button.plus {
                        margin-right: $font-size-3 + $font-size-4;
                    }
                    & > button.minus {
                        margin-right: ($font-size-3 + $font-size-4) * 2;
                    }
                }
                // & > .card-subtitle {
                // color: $text-transp;
                // }
            }
            & .card-text {
                font-size: $font-size-5;
            }
        }
    }
    & .shine > .card-header .card-title,
    & .shine > .card-header > .card-subtitle > button {
        font-weight: bold;
        opacity: 1;
    }
    // inputs
    // & input {
    //   color: $color-light !important;
    //   // &:focus {
    //   //   outline: none;
    //   //   border-color: $color-light !important;
    //   //   color: $color-light;
    //   // }
    //   &::placeholder {
    //     color: $text-transp !important;
    //   }
    // }
}
//
.custom-select {
    display: none !important;
}
// inactive light {
.inactive-lcd {
    @include lcd();
    background-color: $color-8-transp;
}
// active light {
.active-lcd {
    @include lcd();
    background-color: $color-8;
}

/* *********************************************************** MEDIA QUERY ********************************************************* */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    // hide frame of dashboard
    .shine > div:last-child > .col {
      border-color: rgba(255, 255, 255, 0) !important;
    }
  }