// round button size
@mixin roundBtn {
    width: $font-size-3;
    height: $font-size-3;
}
// edit buttons
.btn,
button {
  @include killShadow;
  background-color: transparent !important;
  color: inherit !important;
  font-weight: bold;
  &.btn-secondary {
    color: inherit !important;
    @include changeBorder;
  }
  &:disabled {
    border-color: $color-3 !important;
    &:hover {
      transform: scale(1) !important;
    }
  }
  // user profile
  &.profile {
      border-color: rgba(255, 255, 255, 0) !important;
      & .down {
        display: none !important;
      }
  }
  // scales button after hover
  &:hover,
  &:active,
  &.visited,
  &:focus {
    @include killShadow;
    color: inherit;
  }
  // scale button on hover
  &.btn-outline-light:hover {
    color: inherit !important;
    transform: scale(1.2);
    @include changeBorder;
  }
  // change color of button type
  &.btn-outline-light {
    @include changeColor;
  }
  // change bg-color & color of buttons up & down
  &.btn-outline-light:active,
  &.btn-secondary:not(:disabled):not(.disabled):active {
    border-color: $color-3;
    // color: none !important;
    @include changeButton;
    &.big {
      border-color: $color-success;
    }
    // edit button
    &.edit {
      background-color: rgba(0, 0, 0, 0) !important;
    }
    // change bg-color of button icons up & down
    &.down > span,
    &.up > span {
      background-color: none !important;
    }
    // bg-color of button plus & minus
    &.plus {
      background-color: $color-8 !important;
      // bg-color of big button plus
      &.big {
        background-color: $color-success !important;
      }
    }
    &.minus {
      background-color: $color-danger !important;
    }
  }
  // change color of button border
  &.btn-outline-light:focus {
    @include changeBorder;
  }
  // buttons plus & minus
  &.plus,
  &.minus {
    @include roundBtn;
    position: relative;
    & > span {
      width: $font-size-6;
      height: $border;
      position: absolute;
      left: (($font-size-3 - $font-size-6) / 2 - $border);
      top: ($font-size-3 / 2 - $border - $border / 2);
      background-color: $color-3;
      border-radius: $border;
    }
  }
  // close button
  &.btn-close {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    // border-color: $color-3;
    // margin: 0;
    & > span {
      width: $font-size-1;
      height: $border;
      position: absolute;
      left: .2rem;
      top: 1.1rem;
      transform: rotate(45deg);
      background-color: $color-3;
      border-radius: $border;
      &:last-child {
        width: $font-size-1;
        height: $border;
        position: absolute;
        left: .2rem;
        top: 1.1rem;
        transform: rotate(-45deg);
        background-color: $color-3;
        border-radius: $border;
      }
    }
    &:active > span {
      background-color: $color-1 !important;
    }
  }
  &.big{
    width: $font-size-1;
    height: $font-size-1;
    border-color: $color-success;
    &.plus > span {
      width: $font-size-3;
      background-color: $color-success;
      left: (($font-size-1 - $font-size-3) / 2 - $border);
      top: ($font-size-1 / 2 - $border - $border / 2);
    }
    &.plus:hover,
    &.plus:focus {
      border-color: $color-success;
    }
    &.minus > span {
      width: $font-size-3;
      background-color: $color-danger;
      left: (($font-size-1 - $font-size-3) / 2 - $border);
      top: ($font-size-1 / 2 - $border - $border / 2);
    }
    &.minus:focus {
      border-color: $color-danger;
    }
  }
  // change color of buttons plus & minus
  &.minus {
    border-color: $color-danger !important;
    & > span {
      background-color: $color-danger;
    }
    &:active {
      background-color: $color-danger !important;
      opacity: 1;
    }
    &:active > span {
      background-color: $color-1;
    }
  }
  // plus bar
  &.plus{
    & > span:last-child {
      width: $border;
      height: $font-size-6;
      position: absolute;
      top: (($font-size-3 - $font-size-6) / 2 - $border);
      left: ($font-size-3 / 2 - ($border / 2 + $border));
      // background-color: $color-light;
      border-radius: $border;
    }
    &.big > span:last-child {
      width: $border;
      height: $font-size-3;
      top: (($font-size-1 - $font-size-3) / 2 - $border);
      left: ($font-size-1 / 2 - ($border / 2 + $border));
    }
  }
  // inverts button after click
  &.plus:active > span,
  &.minus:active > span {
    @include changeBGColor;
  }
  // button down
  &.down,
  & .down {
    @include roundBtn;
    padding: .3rem;
    // bars
    & > span {
      width: $border;
      height: $font-size-6 - .11rem;
      display: inline-block;
      @include changeBGColor;
      border-radius: $border;
      &:first-child {
        transform: rotate(-45deg);
        float: left;
      }
      &:last-child {
        transform: rotate(45deg);
        float: right;
      }
    }
  }
  // button up
  &.up,
  & .up {
    @include roundBtn;
    padding: .3rem;
    // bars
    & > span {
      width: $border;
      height: $font-size-6 - .11rem;
      display: inline-block;
      @include changeBGColor;
      border-radius: $border;
      &:first-child {
        transform: rotate(45deg);
        float: left;
      }
      &:last-child {
        transform: rotate(-45deg);
        float: right;
      }
    }
  }
  // shine button after hover
  &:hover.minus,
  &:active.minus,
  &.visited.minus,
  &:focus.minus,
  &:hover.plus,
  &:active.plus,
  &.visited.plus,
  &:focus.plus,
  &:hover.up,
  &:active.up,
  &.visited.up,
  &:focus.up,
  &:hover.down,
  &:active.down,
  &.visited.down,
  &:focus.down {
      @include killShadow;
      outline: none;
      opacity: 1;
  }
}
// alert
.modal-footer button.btn.btn-secondary {
  color: black !important;
  border-color: black;
  &:hover,
  &:active,
  &.visited,
  &:focus,
  &:not(:disabled):not(.disabled):active {
    color: #ffffff !important;
    border-color: #5a6268 !important;
    background-color: #5a6268 !important;
  }
}

// color-5
.color-5 ~ div .plus,
.color-5 ~ div .plus:active {
  border-color: $color-8 !important;
}
.color-5 ~ div .plus > span,
.color-5 ~ div .plus:active {
  background-color: $color-8 !important;
}
.color-5 ~ div .plus:active > span {
  background-color: $color-5 !important;
}
// .color-5 ~ div .btn,
// .color-5 ~ div button,
.color-5 ~ div .up,
.color-5 ~ div .down  {
  border-color: $color-2 !important;
}
.color-5 ~ div .plus:active > span,
.color-5 ~ div .minus:active > span  {
@include changeBGColor($color-5);
}
.color-5 ~ div .up > span,
.color-5 ~ div .down > span  {
@include changeButton($color-5);
}
.color-5 ~ div .up:active > span,
.color-5 ~ div .down:active > span  {
 background-color: $color-5 !important;
}
.color-5 ~ div .btn.btn-outline-light.up:active,
.color-5 ~ div button.btn-outline-light.up:active,
.color-5 ~ div .btn.btn-outline-light.down:active,
.color-5 ~ div button.btn-outline-light.down:active {
  background-color: $color-2 !important;
}