$a: 10px;
$b: 20px;

@mixin track() {
	border: none;
	padding: 0;
    width: 100%;
    height: $font-size-4;
	background: none;
	color: transparent;
}

@mixin thumb($m: 0) {
	// box-sizing: border-box;
	margin-top: $m;
	border: none;
    width: $font-size-4;
    height: $font-size-4;
	border-radius: 50%;
    box-shadow: 
		0 1px .125em rgba(#ae725a, .5), 
		0 1px .25em rgba(#ae725a, .5);
    background: #eae9ea;
	transition: none;
	pointer-events: auto;
	cursor: pointer;
}

%mid {
	grid-column: 2;
	grid-row: 2;
	place-self: center;
	width: var(--track-w);
	pointer-events: none
}

.wrap-range {
	
	display: grid;
	grid-auto-flow: row dense;
	grid-template-rows: 3rem max-content 3rem;
	grid-template-columns: 3rem max-content 3rem;
	
	&::before {
		box-shadow: 0 1px #fc7444;
		background: linear-gradient(#9b2f0b, #bc3c0f);
	}
	
	&::after {
		background: #ecebe9;
		--mask: 
			linear-gradient(90deg, 
					red calc(.5 * $font-size-4 + $a * var(--u)), 
					transparent 0), 
			linear-gradient(90deg, 
					red calc(.5 * $font-size-4 + $b * var(--u)), 
					transparent 0);
		-webkit-mask: var(--mask);
		// -webkit-mask-composite: xor;
						mask: var(--mask);
						mask-composite: exclude;
	}
}

input[type='range'] {
	&, &::-webkit-slider-thumb, 
	&::-webkit-slider-runnable-track {
		-webkit-appearance: none
	}
	
	@extend %mid;
    min-height: 1.5 * $font-size-2;
    height: 1.5 * $font-size-4;
	background: none;
	
	&::-webkit-slider-runnable-track { @include track() }
	&::-moz-range-track { @include track() }
	&::-ms-track { @include track() }
	
	&::-ms-fill-lower { display: none }
	
	&::-webkit-slider-thumb { @include thumb(.5 * $font-size-4 - $font-size-2) }
	&::-moz-range-thumb { @include thumb() }
	&::-ms-thumb { @include thumb() }
	
	& + [for] {
		display: grid;
		justify-self: start;
		// margin-left: calc(.5*var(--u));
		padding-bottom: .75rem;
		// transform: translate(calc(var(--c)*var(--u) - 50%));
		
		&::after {
			display: block;
			padding: .25em .75em;
			transform-origin: 50% 100%;
			// transform: scale(var(--hl));
			border-radius: .25em;
			box-shadow: 
				inset 0 0 2px #ff7747, 
				inset 0 0 .25em #bc3c0f, 
				inset 0 0 .5em #cf3f10,
				0 1px #fc7444;
			// opacity: var(--hl);
			transition: .3s ease-out;
			transition-property: transform, opacity
		}
    }
	
	&::before {
		box-shadow: 0 1px #fc7444;
		background: linear-gradient(#9b2f0b, #bc3c0f)
	}
	
	&::after {
		background: #ecebe9;
		--mask: 
			linear-gradient(90deg, 
					red calc(#{.5 * $font-size-4} + var(--a) * var(--u)), 
					transparent 0), 
			linear-gradient(90deg, 
					red calc(#{.5 * $font-size-4} + var(--b) * var(--u)), 
					transparent 0);
		-webkit-mask: var(--mask);
		-webkit-mask-composite: xor;
						mask: var(--mask);
						mask-composite: exclude
	}
	
	&:focus-within { filter: none }
}