#root > div:last-child > div:last-child a,
#root > div:last-child > div:nth-child(3) a {
    color: $color-3 !important;
    font-size: $font-size-4;
}

#root > .color-5 ~ div > div:last-child a,
#root > .color-5 ~ div > div:nth-child(3) a {
    color: $color-4 !important;
    font-size: $font-size-4;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 360px) {
    #root > div:last-child > div:nth-child(3) a {
        font-size: $font-size-6 !important;
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #root > div:last-child > div:nth-child(3) a {
        font-size: $font-size-5;
    }
}