#root > div:last-child > div:last-child a {
    color: $color-3 !important;
    font-size: $font-size-4;
}

#root > .color-5 ~ div > div:last-child a {
    color: $color-4 !important;
}

#root > div:last-child > div:last-child > div:first-child a {
    font-size: $font-size-3;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #root > div:last-child > div:last-child > div:first-child a {
        font-size: $font-size-2;
    }
}