@mixin boldLink {
    font-weight: bold;
    @include killShadow();
    outline: none;
    color: $color-3;
    // transform: scale(1.2);
}
// navbar
.navbar {
    background-color: $color-1-transp;
    box-shadow: 0 0 1em 1em $color-1-transp;
    transition: background-color 1s ease;
}
// show color of navbar
.color100 + .navbar,
.color70 + .navbar {
    background-color: $color-1;
    box-shadow: 0 0 1em 1em $color-1;
    transition: all 1s ease;
}
// logo svg
.logo {
  width: 7rem;
  height: 2.4rem;
  fill: $color-5;
}
// set link bol
.nav-item {
    font-size: $font-size-3;
    &:focus {
        @include killShadow();
        @include killBorder();
    }
    &.active {
        @include boldLink();
    }
}
// color of links
a.nav-link {
    display:inline-block;
font-size: $font-size-3;
color: $color-3;
@include killShadow();
background-color: none;
&::before {
    content: attr(title);
    content: attr(title) / "";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
    font-weight: bold;
    // transform: scale(1.2);
}
// set link bold after hover
&:hover {
    @include boldLink();
}
// change bg-color & color of link
// &:active {
//     // background-color: $color-light !important;
//     color: $color-1 !important;
// }
}
// menu-icon
.navbar-toggler {
    padding-right: 0 !important;
    @include killBorder();
    & .menu-icon {
        width: 2rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        // dots
        & > span {
            height: ($font-size-5 / 2);
            width: ($font-size-5 / 2);
            border-radius: 50%;
            border: $border solid $color-3;
            // second dot
            &:nth-child(2) {
                position: relative;
                // lines
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    background: $color-3;
                    height: $border;
                    width: 0;
                    transition: width 0.3s;
                }
                &::before {
                    top: 50%;
                    transform: translateY(-50%);
                    right: ($font-size-5 / 4);
                }
                &::after {
                    top: 50%;
                    transform: translateY(-50%);
                    left: ($font-size-5 / 4);
                }
            }
            // third dot
            &:nth-child(3) {
                left: 26px;
            }
        }
        &.open > span:nth-child(2)::before,
        &.open > span:nth-child(2)::after {
            width: ($font-size-5 / 2 + $border);
        }
    }

}

/* mobile sidebar */
.sidebar {
    width: 100vw;
    position: fixed;
    top:  0;
    left: -101vw;
    height: 100vh;
    background: rgb(36, 27, 18);
    /* background: pink; */
    transition: all 0.5s;
    z-index: -1;
    padding-top: 8rem;
    // box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    /* overflow-y: hidden; */
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
    // show sidebar
    .sidebar.active {
        left: 0;
    }
    // hide topbar
    .topbar {
        display: none;
    }
    // rise font size
    a.nav-link {
        font-size: $font-size-2;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    a.nav-link {
        padding-top: 0;
        padding-bottom: 0;
        font-size: $font-size-2;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    // navigation bar
    .navbar {
    //   background-color: $color-1;
    //   box-shadow: 0 0 1em 1em $color-1;                
      // changes regular toggle color
      &.navbar-toggler-icon {
          color: $color-3;
      }
    }
}