$input-pad: 2em;
$input-w: 22.25em;
$input-h: 4em;

$track-h: $font-size-4 / 2;
$track-cr: $track-h/2;
$track-sh-c: #e3e4e6;
$track-sh-base-d: .125em;
$track-bg: $color-light;
$track-fill: #777;

$thumb-d: $font-size-4;
$thumb-sh-c: #d4d4d4;

@mixin track($lower: true) {
  border: none;
  height: $track-h;
  border-radius: $track-cr;
  // box-shadow: 
  //   inset 0 1px $track-sh-base-d $track-sh-c, 
  //   0 0 $track-sh-base-d $track-sh-c, 
  //   0 0 2*$track-sh-base-d $track-sh-c, 
  //   0 0 4*$track-sh-base-d $track-sh-c, 
  //   0 0 8*$track-sh-base-d $track-sh-c;
  // background-color: $track-bg;
  
  @if ($lower) {
    background: 
      linear-gradient($track-fill, $track-fill) 
      no-repeat $track-bg;
    background-size: 12.5% 100%;
  }
}

@mixin thumb() {
  border: none;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  box-shadow: 
    0 0 $track-sh-base-d $thumb-sh-c, 
    0 0 $track-sh-base-d $thumb-sh-c, 
    0 1px $track-sh-base-d 2*$thumb-sh-c, 
    0 1px $track-sh-base-d 4*$thumb-sh-c, 
    0 $track-sh-base-d $track-sh-base-d $thumb-sh-c;
  background: #f8f8f8;
}

// html {
//   background: #f3f3f3;
// }
.range {
  position: relative;
}
// input
input[type='range'] {
  -webkit-appearance: none;
  
  position: absolute;
  top: 50%; left: 50%;
  border: none;
  padding: 0 $input-pad;
  width: $input-w; height: $input-h;
  border-radius: .25em;
  transform: translate(-50%, -50%);
  background: transparent;
  font: $font-size-4 "Ubuntu";
  cursor: pointer;
  
  /* slider components */
  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    position: relative;
    @include track();
  }
  
  &::-moz-range-track {
    @include track();
  }
  
  &::-ms-track {
    @include track(false);
    color: transparent;
  }
  
  &::-ms-fill-lower {
    border-radius: $track-cr;
    background: $track-fill;
  }
  
  &::-ms-fill-upper {
    background: $track-fill;
  }
  
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: ($track-h - $thumb-d)/2;
    @include thumb();
  }
  
  &::-moz-range-thumb {
    @include thumb();
    cursor: ew-resize;
  }
  
  &::-ms-thumb {
    @include thumb();
  }
  
  // &::-ms-tooltip {
  //   display: none;
  // }
  
  // /deep/ #track:before {
  //   position: absolute;
  //   bottom: $thumb-d;
  //   font-size: .875em;
  //   text-indent: .25em;
  //   word-spacing: $input-w/8 - 1.125em;
  //   content: '0 5 10 15 20 25 30 35 40';
  // }
  
  &:focus {
    outline: none;
    box-shadow: 0 0 .25em darkgrey;
  }
}