
.table {
    & th {
        font-weight: bold;
    }
    & tr {
        color: $color-3;
        border-bottom: $border solid $color-3;         //$text-transp;
    }
    & thead > tr > th {
        text-align: right;
      &:first-child {
        text-align: left;
        font-size: $font-size-3;
        font-weight: normal;
      }
    }
    & tbody {
        & td {
            text-align: right;
        }
    }
}