// change color of input
@mixin changeInput($color: $color-1) {
  @if $color == $color-1 {
    border-color: $color-3 !important;
    color: $color-5 !important;
  }
  @if $color == $color-5 {
    border-color: $color-2 !important;
    color: $color-8 !important;
  }
}

input {
  @include changeInput;
  &.form-control {
    height: auto;
    font-weight: bold;
    font-size: $font-size-3;
    padding-top: .2rem !important;
    padding-bottom: .2rem !important;
    &::placeholder {
      color: $color-5-opac !important;
    }
    &:focus {
      @include killShadow;
      border-color: $color-5 !important;
    }
  }
  // user profile
  &.profile {
      border-color: rgba(255, 255, 255, 0) !important;
  }
  &#upload {
    // visibility: hidden;
    overflow: hidden;
    width: 0;
  }
  &.birthday {
    width: 8.3rem;
    background-color: rgba(255, 255, 255, 0);
    font-size: $font-size-3;
    font-weight: bold;
    border-style: solid;
    border-width: thin;
    padding-top: .2rem;
    padding-bottom: .2rem;
    &:focus {
      outline: none;
    }
    &:focus-within {
      border-color: $color-5 !important;
    }
  }
}
// textarea
textarea {
  @include changeBorder;
  box-sizing: border-box;
  width: 100%;
  font-weight: bold;
  font-size: $font-size-4;
  border-radius: $font-size-5;
  color: $color-5 !important;
  &::placeholder {
    color: $color-5-opac !important;
  }
  &:focus {
    @include killShadow;
    outline:none;
    border-color: $color-5 !important;
  }
}
// select
.select-wrapper {
  height: 2.4rem;
  color: $color-5;
  & > .select-header {
    position: absolute;
    z-index: 1000;
    opacity: 1 !important;
    @include changeBGColor;
    border-color: $color-3;
    padding: .2rem .3rem .2rem .8rem;
    border-radius: 1.2rem;
    & > .select-header-title {
      width: 6rem;
      & > div {
        // color: $color-5;
        font-size: $font-size-3;
        font-weight: bold;
        // select sex and title
        &:last-child {
          padding: .4rem;
        }
      }
    }
    & > .select-list {
      & > .select-list-item {
        font-size: $font-size-3;
        font-weight: bold;
      }
    }
  }
}
// select sex
.select-wrapper > .select-header {
  left: -0.3rem;
}

/* *********************************************************** MEDIA QUERY ********************************************************* */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  .select-wrapper > .select-header {
    left: 42%;
  }
  // select sex
  label[name=sex] + .select-wrapper > .select-header {
    z-index: 1001;
  }
}