// font Cuyabra
@font-face {
  font-family: Cuyabra;
  src:  url('../fonts/cuyabra.ttf') format('truetype');
}
@font-face {
  font-family: Cuyabra;
  src:  url('../fonts/cuyabra-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: Cuyabra;
  src:  url('../fonts/cuyabra-oblique.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: Cuyabra;
  src:  url('../fonts/cuyabra-bold-oblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
// font Ubuntu       
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Regular.ttf') format('truetype');
}        
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Italic.ttf') format('truetype');
  font-style: italic;
}        
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: bold;
}            
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}    
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bolder;
}        
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}        
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: small;
}        
@font-face {
  font-family: Ubuntu;
  src:  url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: small;
  font-style: italic;
}
// variables
$font-main: Ubuntu;
$font-head: Cuyabra;
$font-size-1: 1.8rem;
$font-size-2: 1.4rem;
$font-size-3: 1.2rem;
$font-size-4: 1rem;
$font-size-5: .8rem;
$font-size-6: .6rem;
$font-size-7: .4rem;
$color-1: rgb(36, 27, 18);
$color-1-transp: rgba(36, 27, 18, 0);
$color-1-opac: rgba(26, 17, 8, .8);
$color-2: rgb(29, 44, 34);
$color-2-opac: rgba(29, 44, 34, .8);
$color-2-transp: rgba(29, 44, 34, .3);
$color-3: rgb(253, 215, 157);
$color-3-opac: rgba(253, 215, 157, .6);
$color-4: rgb(0, 80, 24);
$color-4-opac: rgba(0, 67, 20, .6);
$color-5: rgb(154, 201, 146);
$color-5-opac: rgba(154, 201, 146, .6);
$color-6: rgb(0, 168, 230);
$color-7: rgb(152, 210, 232);
$color-7-opac: rgba(152, 210, 232, .6);
$color-8: rgb(0, 122, 167);
$color-8-opac: rgba(0, 122, 167, .6);
$color-8-transp: rgba(0, 122, 167, .3);
$color-light: white;
$color-danger: red;
$color-danger-opac: rgba(255, 0, 0, .6);
$color-danger-light: rgb(255, 96, 96);
$color-success: rgb(48, 162, 86);
$color-success-opac: rgba(48, 162, 86, .6);
$color-success-transp: rgba(48, 162, 86, .3);
$border: .1rem;
$nav-height: 4rem;

// color
@mixin changeColor($color: $color-1) {
  @if $color == $color-1 {
    color: $color-3 !important;
  }
  @if $color == $color-5 {
    color: $color-2 !important;
  }
}
// bg-color
@mixin changeBGColor($color: $color-1) {
  background-color: $color !important;
}
// border
@mixin changeBorder($color: $color-1, $width: $border, $style: solid) {
  border-width: $width;
  border-style: $style;
  @if $color == $color-1 {
    border-color: $color-3;
  }
  @if $color == $color-5 {
    border-color: $color-2;
  }
}
// bg-shadow
@mixin changeShadow($color: $color-1) {
  box-shadow: 0 .2rem .8rem .5rem $color;
}
// button background
@mixin changeButton($color: $color-1) {
  @if $color == $color-1 {
    background-color: $color-3 !important;
    color: $color-1 !important;
  }
  @if $color == $color-5 {
    background-color: $color-2 !important;
    color: $color-5 !important;
  }
}
// change color of input
@mixin changeInput($color: $color-1) {
  @if $color == $color-1 {
    border-color: $color-3 !important;
    color: $color-5 !important;
  }
  @if $color == $color-5 {
    border-color: $color-2 !important;
    color: $color-8 !important;
  }
}
// remove shadows
@mixin killShadow {
  box-shadow: none !important;
  text-shadow: none !important;
}
// remove borders
@mixin killBorder {
  border: none !important;
  outline: none !important;
}
@mixin transitionOpacity {
  transition: opacity .4s ease;
}
// default
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// app    
body {
  font-family: Ubuntu, 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color-3 !important;
  background-color: black !important;
  // app container
  #root {
    font-family: Ubuntu;
    height: 100vh;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: cover;
    // background-position: top right;
    // background-position: 20% 40%;
    // background image
    // & > div:first-child {
      // width: 100%;
      // height: 100%;
      // position: fixed;
      // background-color: $color-1;
      // background-image: url(../imgs/800px_COLOURBOX10774649.jpg);
      // background-repeat: no-repeat;
      // background-attachment: fixed;
      // background-size: cover;
      // background-position: top right;
      // background-position: 20% 40%;
      // background layer
      // & + div {
      //   width: 100%;
      //   height: 100%;
      //   background-color: $color-1;
      //   position: fixed;
      //   opacity: 0;
      //   @include transitionOpacity();
      // layer with full color
      // & .color100 {
      // opacity: 1;
      // @include transitionOpacity();
      // }
      // layer with 70% color
      // & .color70 {
      // opacity: .9;
      // @include transitionOpacity();
      // }
      // fade in container
      // & .color100 ~ .container,
      // & .color70 ~ .container {
      // opacity: 1;
      // @include transitionOpacity();
      // }
    
    // background image
    & .bg-image {
      position: fixed;
      background-color: $color-1;
      background-image: url(../imgs/800px_COLOURBOX10774649.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: top right;
      background-position: 20% 40%;
    }
    // }
    // layer with gradient
    // & .gradient {
    // width: 100%;
    // height: 100%;
    // background: linear-gradient(to bottom, $color-1, rgba(255,0,0,0));
    // position: fixed;
    // }
    // layer with opac
    // & .opac {
    // width: 100%;
    // height: 100%;
    // background-color: $color-1-opac;
    // position: fixed;
    // }
    
    // fader
    & > div:first-child {
      height: $nav-height;
      width: 100vw;
      position: fixed;
      z-index: 1000;
      &.color-1 {
        @include changeBGColor($color-1);
        @include changeShadow($color-1);
      }
      &.color-5 {
        @include changeBGColor($color-5);
        @include changeShadow($color-5);
      }
    }
    // container-wrap
    & > div:last-child {
      min-height: 100vh;
      @include changeBGColor($color-1);
      // & > .container {
      //   min-height: 100vh;
      // }
      // article
      & > article {
        width: 42rem;
        position: fixed;
        top: 12rem;
        right: 8rem;
        background-color: $color-3;
        color: $color-1;
        padding: 2rem;
        border-radius: $font-size-4;
        & p {
          font-size: $font-size-3;
        }
        & a {
          text-align: right;
        } 
      }
      // profile
      & > .container > div:nth-child(2) {
        font-size: $font-size-5;
      }
    }
    // container
    & .container {
      position: relative;
      // hint
      & > form > .row .row > .col-6.text-right {
        padding-left: 0;
        & > span {
          font-size: $font-size-4;
        }
      }
      // frame border
      & .col-lg-7 > .col {
        @include changeBorder;
        border-radius: $font-size-4;
      }
      // icons
      & .humidity {
        border-color: $color-1;
      }
    }
    // frame border of container outside container
    & > div > .container {
      // padding-top: 5.2rem;
      // frame border of container inside container
      & > .container {
        padding-top: 8rem;
      }
    }
    // change color green
    & .color-5 {
      // @include changeBGColor($color-5);
      & ~ div {
        @include changeColor($color-5);
        @include changeBGColor($color-5);
        // inputs
        & input {
          @include changeInput($color-5);
          &.form-control {
            font-weight: bold;
            &::placeholder {
              color: $color-8-opac !important;
            }
            &:focus {
              @include killShadow;
              border-color: $color-8 !important;
            }
          }
        }
        // color of frameborder
        & .container .col-lg-7 > .col {
          @include changeBorder($color-5);
        }
        & .container h3 {
          color: $color-8;
        }
      }
    }
  }
  // headlines
  & h1,
  & h2,
  & h3,
  & h4,
  & h5 {
    font-family: $font-head;
    letter-spacing: .02rem;
    color: inherit;
    padding-left: .02rem;
  }
  // inputs
  & input {
    @include changeInput;
    &.form-control {
      font-weight: bold;
      &::placeholder {
        color: $color-5-opac !important;
      }
      &:focus {
        @include killShadow;
        border-color: $color-5 !important;
      }
    }
  }
  & textarea {
    @include changeBorder;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-size: $font-size-4;
    border-radius: $font-size-5;
    color: $color-5 !important;
    &::placeholder {
      color: $color-5-opac !important;
    }
    &:focus {
      @include killShadow;
      outline:none;
      border-color: $color-5 !important;
    }
  }
  // paragraph text
  & p {
    color: inherit;
    font-size: $font-size-3;
  }
  // // opac text
  // & .text-transp {
  //   color: $text-transp !important;
  // }

  // errors
  & .error {
    font-size: $font-size-4;
    color: $color-danger-light;
  }
  & input.error {
    border-color: $color-danger-light !important;
    background-color: transparent;
  }

  code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
}
// color of links
a {
  color: $color-6 !important;
  &:hover,
  &:active {
    color: $color-6 !important;
  }
}
// color-5
.color-5 ~ div {
  background-color: $color-5 !important;
  & a {
    &:hover,
    &:active {
      color: $color-8 !important;
    }
  }
}

/* *********************************************************** MEDIA QUERY ********************************************************* */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
  html {
    font-size: 12px;
  }
  // frame border of container outside container
  body #root > div:last-child > .container {
    padding-top: 6rem;
    // frame border of container inside container
    & > .container {
      padding-top: 6rem;
    }
    // expand monitor
    // & .card-body + div > div:first-child {
    //   left: -.6rem;
    //   & > div > div > div {
    //     // width: calc(100% + 1rem);
    //     transform: scaleX(1.05);
    //   }
    // }
  }
  // hide frame of dashboard
  .color-5 ~ div > .container .col-lg-7 > .col {
    border-color: rgba(255, 255, 255, 0) !important;
  }
  // article
  body #root > div:last-child > article {
    width: 28rem;
    position: fixed;
    top: 7rem;
    right: 2rem;
    background-color: $color-3;
    color: $color-1;
    padding: 2rem;
    border-radius: $font-size-4;
    & p {
      font-size: $font-size-2;
    }  
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // show frame of dashboard
  #root > .container .col-lg-8 {
    // @include makeOutline();
    border-radius: $font-size-3;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 2200px) {
  html {
    font-size: 18px;
  }
  // bigger container
  .container {
    min-width: 1800px;
  }
}

/* *********************************************************** IMPORT ********************************************************* */
@import 'breadcrumb';
@import 'modal';
@import 'nav';
@import 'buttons';
@import 'range';
@import 'accordion';
@import 'table';
@import 'switch';
@import 'chartjs';
@import 'slider';
@import 'footer';